<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Campeonato Brasileiro - 2018</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style type="text/css">
        .escudo {
            width: 40px;
            height: 40px;
        }
    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <v-btn depressed small left color="primary"
                       @click="criarNovoJogo()"
                >Novo Jogo
                </v-btn>

                <v-layout row wrap v-if="visao !='tabela'">
                    <v-flex xs12 sm6 md3>
                        <v-text-field
                                label="Time da Casa"
                                v-model="novoJogo.timeDaCasa.gols"
                                outline
                        ></v-text-field>
                    </v-flex>

                    <div>
                        <img :src="novoJogo.timeDaCasa.time ? novoJogo.timeDaCasa.time.escudo : novoJogo.timeDaCasa.escudo"
                             class="escudo"> X
                        <img :src="novoJogo.timeDeFora.time ? novoJogo.timeDeFora.time.escudo : novoJogo.timeDeFora.escudo"
                             class="escudo">
                    </div>
                    <v-flex xs12 sm6 md3>
                        <v-text-field
                                label="Time de Fora"
                                v-model="novoJogo.timeDeFora.gols"
                                outline
                        ></v-text-field>
                    </v-flex>
                    <v-btn depressed small left color="error"
                           @click="fimJogo()"
                    >Fim de Jogo
                    </v-btn>
                </v-layout>

                <div v-if="visao === 'tabela'">
                    <v-content>
                        <v-container>
                            <v-card>
                                <div v-if="visao === 'tabela'">
                                    <v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-text-field
                                                v-model="search"
                                                append-icon="search"
                                                label="Search"
                                                single-line
                                                hide-details
                                        ></v-text-field>
                                    </v-card-title>
                                    <v-data-table
                                            :headers="headers"
                                            :items="timesOrdenados"
                                            :search="search"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td class="text-xs-center">
                                                <v-tooltip right>
                                                    <img :src="props.item.escudo" slot="activator" class="escudo">
                                                    <span>{{ props.item.nome | ucWords }}</span>
                                                </v-tooltip>
                                            </td>

                                            <td class="text-xs-center">{{ props.item.pontos }}</td>
                                            <td class="text-xs-center">{{ props.item.golsMarcados }}</td>
                                            <td class="text-xs-center">{{ props.item.golsSofridos }}</td>
                                            <td class="text-xs-center">{{ props.item | saldo }}</td>
                                        </template>
                                        <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                            Sua busca por "{{ search }}" não encontrou nenhum resultado.
                                        </v-alert>
                                    </v-data-table>
                                </div>
                            </v-card>
                        </v-container>
                    </v-content>
                    <v-container grid-list-md text-xs-center>
                        <v-layout row wrap>
                            <v-flex xs6>
                                <v-card>
                                    <v-card-text class="px-0">Times Classificados para a Libertadores</v-card-text>
                                    <div v-for="time in timesLibertadores">
                                        <img :src="time.escudo" alt="" class="escudo">
                                    </div>
                                </v-card>
                            </v-flex>
                            <v-flex xs6>
                                <v-card>
                                    <v-card-text class="px-0">Times Rebaixados</v-card-text>
                                    <div v-for="time in timesRebaixados">
                                        <img :src="time.escudo" alt="" class="escudo">
                                    </div>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </div>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src='https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    class Time {
        constructor(nome, escudo) {
            this.nome = nome;
            this.escudo = escudo;

            this.pontos = 0,
                this.golsMarcados = 0,
                this.golsSofridos = 0
        }

        fimJogo(timeVisitante, golsMarcados, golsSofridos) {
            if (this.foiEmpate(golsMarcados, golsSofridos)) {
                this.empate(golsMarcados, golsSofridos);
                timeVisitante.empate(golsMarcados, golsSofridos);
                return;
            }
            if (this.foiVitoria(golsMarcados, golsSofridos)) {
                this.vitoria(golsMarcados, golsSofridos);
                timeVisitante.derrota(golsSofridos, golsMarcados);
            } else {
                this.derrota(golsMarcados, golsSofridos);
                timeVisitante.vitoria(golsSofridos, golsMarcados);
            }
        }

        foiEmpate(golsMarcados, golsSofridos) {
            return golsMarcados === golsSofridos;
        }

        foiVitoria(golsMarcados, golsSofridos) {
            return golsMarcados > golsSofridos
        }

        atualizarInformacoes(pontos, golsMarcados, golsSofridos) {
            this.pontos += pontos;
            this.golsMarcados += golsMarcados;
            this.golsSofridos += golsSofridos;
        }

        empate(golsMarcados, golsSofridos) {
            this.atualizarInformacoes(1, golsMarcados, golsSofridos);
        }

        vitoria(golsMarcados, golsSofridos) {
            this.atualizarInformacoes(3, golsMarcados, golsSofridos);
        }

        derrota(golsMarcados, golsSofridos) {
            this.atualizarInformacoes(0, golsMarcados, golsSofridos)
        }
    };

    new Vue({
        el: '#app',
        data() {
            return {
                search: '',
                pagination: {},
                selected: [],
                orientacao: 'desc',
                times: [
                    new Time('palmeiras', 'assets/palmeiras_60x60.png'),
                    new Time('internacional', 'assets/internacional_60x60.png'),
                    new Time('flamengo', 'assets/flamengo_60x60.png'),
                    new Time('atlético-MG', 'assets/atletico_mg_60x60.png'),
                    new Time('santos', 'assets/santos_60x60.png'),
                    new Time('botafogo', 'assets/botafogo_60x60.png'),
                    new Time('atlético-PR', 'assets/atletico-pr_60x60.png'),
                    new Time('corinthians', 'assets/corinthians_60x60.png'),
                    new Time('grêmio', 'assets/gremio_60x60.png'),
                    new Time('fluminense', 'assets/fluminense_60x60.png'),
                    new Time('bahia', 'assets/bahia_60x60.png'),
                    new Time('chapecoense', 'assets/chapecoense_60x60.png'),
                    new Time('são Paulo', 'assets/sao_paulo_60x60.png'),
                    new Time('cruzeiro', 'assets/cruzeiro_60x60.png'),
                    new Time('sport', 'assets/sport_60x60.png'),
                    new Time('ceará', 'assets/ceara_60x60.png'),
                    new Time('vitória', 'assets/vitoria_60x60.png'),
                    new Time('vasco', 'assets/vasco_60x60.png'),
                    new Time('américa-MG', 'assets/america_mg_60x60.png'),
                    new Time('paraná', 'assets/parana_60x60.png'),
                ],
                novoJogo: {
                    timeDaCasa: {
                        time: null,
                        gols: 0,
                    },
                    timeDeFora: {
                        time: null,
                        gols: 0,
                    }
                },
                headers: [
                    {
                        text: 'Times',
                        align: 'center',
                        value: 'times'
                    },
                    {
                        text: 'Pontos',
                        value: 'pontos',
                        align: 'center'
                    },
                    {
                        text: 'GM',
                        value: 'fat',
                        align: 'center'
                    },
                    {
                        text: 'GS',
                        value: 'carbs',
                        align: 'center'
                    },
                    {
                        text: 'Saldo',
                        value: 'protein',
                        align: 'center'
                    },
                ],
                visao: 'tabela',
            }
        },
        computed: {
            pages() {
                if (this.pagination.rowsPerPage == null ||
                    this.pagination.totalItems == null
                ) return 0;

                return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage);
            },
            timesLibertadores() {
                var timesOrderLibertadores = this.times.slice(0, 6);
                return timesOrderLibertadores;
            },
            timesRebaixados() {
                return this.times.slice(16, 20);
            },
            timesOrdenados() {
                return _.orderBy(this.times, 'pontos', this.orientacao);
            },
        },
        methods: {
            showAlert() {
                alert('fim de Jogo');
            },
            criarNovoJogo() {
                var indiceDaCasa = Math.floor(Math.random() * 20),
                    indiceDeFora = Math.floor(Math.random() * 20);

                this.novoJogo.timeDaCasa.time = this.times[indiceDaCasa];
                this.novoJogo.timeDaCasa.gols = 0;

                this.novoJogo.timeDeFora.time = this.times[indiceDeFora];
                this.novoJogo.timeDeFora.gols = 0;

                this.visao = 'placar';
                console.log(this.novoJogo);
            },
            fimJogo() {
                var golsMaracados = parseInt(this.novoJogo.timeDaCasa.gols);
                var golsSofridos = parseInt(this.novoJogo.timeDeFora.gols);
                var timeAdversario = this.novoJogo.timeDeFora.time;
                var timeCasa = this.novoJogo.timeDaCasa.time;
                timeCasa.fimJogo(timeAdversario, golsMaracados, golsSofridos);

                this.visao = 'tabela';
            }
        },
        filters: {
            saldo(time) {
                console.log(time.golsMarcados - time.golsSofridos);
                return time.golsMarcados - time.golsSofridos;
            },
            ucWords(valor) {
                return valor.charAt(0).toUpperCase() + valor.slice(1);// deixa a primeira letra em maiusculo
            }
        },
    });
</script>
</body>
</html>
